@{
    ViewData["Title"] = "Thông tin học sinh";
}
<div class="page-header">
                    <div class="row">
                        <div class="col-sm-12">
                            <h3 class="page-title">Thông tin học sinh</h3>
                            <ul class="breadcrumb">
                                <li class="breadcrumb-item"><a href="students.html">Bảng điều khiển</a></li>
                                <li class="breadcrumb-item active">Thông tin học sinh</li>
                            </ul>
                        </div>
                    </div>
                </div>
                
                        <div class="card">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="about-info">
                                            <h4>Hồ sơ</h4>
                                            <div class="media mt-3">
                                                <img src="assets/img/user.jpg" class="mr-3" alt="...">
                                                <div class="media-body">
                                                    <ul>
                                                        <li>
                                                            <span class="title-span">Họ và tên : </span>
                                                            <span class="info-span">Đinh Xuân Quang</span>
                                                        </li>
                                                        <li>
                                                            <span class="title-span">Địa chỉ : </span>
                                                            <span class="info-span">Quận 1</span>
                                                        </li>
                                                        <li>
                                                            <span class="title-span">Số điện thoại : </span>
                                                            <span class="info-span">+84 0732841938</span>
                                                        </li>
                                                        <li>
                                                            <span class="title-span">Email : </span>
                                                            <span class="info-span"><a
                                                                    href="https://preschool.dreamguystech.com/cdn-cgi/l/email-protection"
                                                                    class="__cf_email__"
                                                                    data-cfemail="7216131b010b32151f131b1e5c111d1f">[email&#160;protected]</a></span>
                                                        </li>
                                                        <li>
                                                            <span class="title-span">Giới tính : </span>
                                                            <span class="info-span">Nam</span>
                                                        </li>
                                                        <li>
                                                            <span class="title-span">Ngày sinh :</span>  </span>
                                                            <span class="info-span">22 Tháng 4 2022</span>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                         
                            </div>
                            <div class="card flex-fill">
                                <div class="card-header">
                                    <ul role="tablist" class="nav nav-pills card-header-pills float-left">
                                        <li class="nav-item">
                                            <a href="#tab-4" data-toggle="tab" class="nav-link active">Đánh Giá</a>
                                        </li>
                                        <li class="nav-item">
                                            <a href="#tab-5" data-toggle="tab" class="nav-link">Can Thiệp</a>
                                        </li>
                                       
                                    </ul>
                                </div>
                                
                                <div class="card-body">
                                    <div class="tab-content pt-0">
                                        <div role="tabpanel" id="tab-4" class="tab-pane fade show active">
                                            <!-- Table Đánh Giá -->
                                            <table class="table table-hover table-center mb-0 datatable">
                                                <!-- <a href="danhgia.html">
                                                    <button type="button" class="btn btn-info btn-danhgia">Thêm đánh giá</button>
                                                </a> -->
                                                <thead>
                                                   <tr>
                                                      <th class="text-center">Ngày</th>
                                                      <th class="text-center">Thời Gian</th>
                                                      <th class="text-center">Tường Trình</th>
                                                      <th class="text-center">Phân Tích</th>
                                                      <!-- <th>Parent Name</th>
                                                      <th>Mobile Number</th> -->
                                                      <th class="text-center">Chi Tiết</th>
                                                      <th class="text-center">Tóm Tắt</th>
                                                      <th class="text-center">Tùy Chọn</th>
                                                   </tr>
                                                </thead>
                                                <tbody>
                                                   <tr>
                                                      <td class="text-center">14/05/2022</td>
                                                      <td class="text-center">
                                                        14:20
                                                      </td>
                                                      <td class="text-center">
                                                        <button type="button" class="btn btn-success btn-sm">Hoàn thành</button>
                                                      </td>
                                                      <td class="text-center">
                                                        <button type="button" class="btn btn-success btn-sm">Hoàn thành</button>
                                                      </td>
                                                      <!-- <td>Jeffrey Wong</td>
                                                      <td>097 3584 5870</td> -->
                                                      <td class="text-center">
                                                        <button type="button" class="btn btn-danger btn-sm">Chưa hoàn thành</button>
                                                      </td>
                                                      <td class="text-center">Đánh bạn cùng lớp</td>
                                                      <td class="text-right">
                                                         <div class="actions">                                                           
                                                            <a href="#" class="btn btn-sm bg-danger-light">
                                                                <i class="fas fa-file">PDF</i>
                                                            </a>
                                                            <a href="#" class="btn btn-sm bg-danger-light">
                                                                <i class="fas fa-clipboard-list">Xem</i>
                                                            </a>                                                                               
                                                         </div>
                                                      </td>
                                                   </tr>
                                                   
                                                </tbody>
                                             </table>
                                             <ul class="pagination">
                                                <li class="page-item disabled">
                                                    <a class="page-link" href="#" tabindex="-1">Previous</a>
                                                </li>
                                                <li class="page-item"><a class="page-link" href="#">1</a></li>
                                                <li class="page-item active">
                                                    <a class="page-link" href="#">2 <span class="sr-only">(current)</span></a>
                                                </li>
                                                <li class="page-item"><a class="page-link" href="#">3</a></li>
                                                <li class="page-item">
                                                    <a class="page-link" href="#">Next</a>
                                                </li>
                                            </ul>
                                        </div>
                                        <div role="tabpanel" id="tab-5" class="tab-pane fade text-center">
                                            <!-- Table Can Thiêp -->
                                            <table class="table table-hover table-center mb-0 datatable">
                                                
                                                <thead>
                                                   <tr>
                                                      <th class="text-center">Ngày</th>
                                                      <th class="text-center">Hồ Sơ</th>
                                                      <th class="text-center">Quản Lí</th>
                                                      <th class="text-center">Ngăn Chặn</th>
                                                      <th class="text-center">Tóm Tắt</th>
                                                      <th class="text-center">Tùy Chọn</th>
                                                   </tr>
                                                </thead>
                                                <tbody>
                                                   <tr>
                                                      <td class="text-center">14/05/2022</td>
                                                      <td class="text-center">
                                                        <button type="button" class="btn btn-success btn-sm">Hoàn thành</button>
                                                      </td>
                                                      <td class="text-center">
                                                        <button type="button" class="btn btn-success btn-sm">Hoàn thành</button>
                                                      </td>
                                                      <td class="text-center">
                                                        <button type="button" class="btn btn-danger btn-sm">Chưa hoàn thành</button>
                                                      </td>
                                                      <td class="text-center">Đưa tới trại giáo dưỡng</td>
                                                      <td class="text-right">
                                                         <div class="actions">
                                                            <div class="actions">                                                           
                                                                <button type="button" class="btn btn-info btn-sm bg-success-light mr-2">Xem</button>                                                                                    
                                                             </div>
                                                         </div>
                                                      </td>
                                                   </tr>
                                                   
                                                </tbody>
                                             </table>
                                             <ul class="pagination">
                                                <li class="page-item disabled">
                                                    <a class="page-link" href="#" tabindex="-1">Trước</a>
                                                </li>
                                                <li class="page-item"><a class="page-link" href="#">1</a></li>
                                                <li class="page-item active">
                                                    <a class="page-link" href="#">2 <span class="sr-only">(current)</span></a>
                                                </li>
                                                <li class="page-item"><a class="page-link" href="#">3</a></li>
                                                <li class="page-item">
                                                    <a class="page-link" href="#">Sau</a>
                                                </li>
                                            </ul>
                                        </div>
                                        
                                    </div>
                                </div>
                            </div>
                        </div>
            