@{
    ViewData["Title"] = "Danh sách trạng thái cảm xúc cá nhân";
}

@section styles {
    <link href="~/plugins/RWD-Table-Patterns/dist/css/rwd-table.min.css" rel="stylesheet" type="text/css" media="screen">
}
<div class="row">
    <div class="col-sm-12">
        <div class="page-title-box">
            <h4 class="page-title">@ViewData["Title"]</h4>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <div class="card m-b-20">
            <div class="card-body">

                <div class="table-rep-plugin">
                    <div class="table-responsive b-0" data-pattern="priority-columns">
                        <table id="tech-companies-1" class="table  table-striped">
                            <thead>
                                <tr>
                                    <th >Số Thứ Tự</th>
                                    <th data-priority="1">Nội dung</th>
                                    <th data-priority="1">Tùy Chọn</th>

                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th>1</th>
                                    <td>Tức giận</td>
                                    <td class="text-right">
                                        <div class="actions">
                                            <a href="~/Admin/AnalyzeAntecedentActivity/Edit/{id}" class="btn btn-sm bg-success-light mr-2">
                                            <i class="fas fa-pen"></i>
                                            </a>
                                            <a href="~/Admin/Analyze/AntecedentActivity/Delete/{id}" class="btn btn-sm bg-danger-light">
                                            <i class="fas fa-trash"></i>
                                            </a>
                                        </div>
                                    </td>

                                </tr>

                            </tbody>
                        </table>
                    </div>

                </div>

            </div>
        </div>
    </div> <!-- end col -->
</div> <!-- end row -->


@section scripts {
    <script src="~/plugins/RWD-Table-Patterns/dist/js/rwd-table.min.js"></script>
}

