@model IEnumerable<BehaviourManagementSystem_ViewModels.Requests.OptionsRequest>
<ul class="dropdown-menu " id="multiselect-drop-camxuc">
    @foreach (var item in Model)
    {
        <li class="dropdown-item">
            <div class="checkbox">
                <label>
                    <input value="@item.Content" type="checkbox"><span style="margin-left:8px;">@item.Content</span>
                </label>
            </div>
        </li>
    }
</ul>
