@{
    ViewData["Title"] = "Thông tin đánh giá hành vi";
}

<div class="row text-center">
    <div class="col-sm-12 ">
        <div class="page-title-box">
            <h4 class="page-title">@ViewData["Title"]</h4>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-6 mx-auto">
        <div class="card m-b-20">
            <div class="card-body">
                <ul class="nav nav-pills nav-justified" role="tablist">
                    <li class="nav-item waves-effect waves-light">
                        <a class="nav-link active" data-toggle="tab" href="#tuongtrinh" role="tab">Tường trình sự cố</a>
                    </li>
                    <li class="nav-item waves-effect waves-light">
                        <a class="nav-link" data-toggle="tab" href="#phantich" role="tab">Phân tích sự cố</a>
                    </li>
                    <li class="nav-item waves-effect waves-light">
                        <a class="nav-link" data-toggle="tab" href="#chucnang" role="tab">Chức năng sự cố</a>
                    </li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane active p-3" id="tuongtrinh" role="tabpanel">

                        <label><strong>Ngày xảy ra sự cố</strong></label>
                        <p>adasdfsdf</p>
                        <label><strong>Thời gian bắt đầu</strong></label>
                        <p>adasdfsdf</p>
                        <label><strong>Thời gian kết thúc</strong></label>
                        <p>adasdfsdf</p>
                        <label><strong>Địa điểm</strong></label>
                        <p>adasdfsdf</p>
                        <label><strong>Với người nào</strong></label>
                        <p>adasdfsdf</p>
                    </div>
                    <div class="tab-pane p-3" id="phantich" role="tabpanel">
                        <div class="card m-b-20">
                            <div class="card-body">
                                <ul class="nav nav-pills nav-justified" role="tablist">
                                    <li class="nav-item waves-effect waves-light">
                                        <a class="nav-link active" data-toggle="tab" href="#tiende" role="tab">Nguyên nhân</a>
                                    </li>
                                    <li class="nav-item waves-effect waves-light">
                                        <a class="nav-link" data-toggle="tab" href="#hanhvi" role="tab">Hành vi</a>
                                    </li>
                                    <li class="nav-item waves-effect waves-light">
                                        <a class="nav-link" data-toggle="tab" href="#hauqua" role="tab">Hậu quả</a>
                                    </li>
                                </ul>
                                <div class="tab-content">
                                    <div class="tab-pane active p-3" id="tiende" role="tabpanel">

                                        <label><strong>Trạng thái cảm xúc cá nhân</strong></label>
                                        <p>adasdfsdf</p>
                                        <label><strong>Bối cảnh môi trường</strong></label>
                                        <p>adasdfsdf</p>
                                        <label><strong>Bối cảnh hoạt đông</strong></label>
                                        <p>adasdfsdf</p>
                                    </div>
                                    <div class="tab-pane p-3" id="hanhvi" role="tabpanel">
                                        <label><strong>Học tập</strong></label>
                                        <p>adasdfsdf</p>
                                        <label><strong>Thái độ</strong></label>
                                        <p>adasdfsdf</p>
                                    </div>
                                    <div class="tab-pane p-3" id="hauqua" role="tabpanel">
                                        <label><strong>Trạng thái cảm xúc cá nhân</strong></label>
                                        <p>adasdfsdf</p>
                                        <label><strong>Bối cảnh môi trường</strong></label>
                                        <p>adasdfsdf</p>
                                        <label><strong>Bối cảnh hoạt đông</strong></label>
                                        <p>adasdfsdf</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane p-3" id="chucnang" role="tabpanel">
                        <div class="card m-b-20">
                            <div class="card-body">
                                <ul class="nav nav-pills nav-justified" role="tablist">
                                    <li class="nav-item waves-effect waves-light">
                                        <a class="nav-link active" data-toggle="tab" href="#tiendechucnang" role="tab">Tiền đề</a>
                                    </li>
                                    <li class="nav-item waves-effect waves-light">
                                        <a class="nav-link" data-toggle="tab" href="#hauquasuco" role="tab">Hậu quả</a>
                                    </li>
                                </ul>
                                <div class="tab-content">
                                    <div class="tab-pane active p-3" id="tiendechucnang" role="tabpanel">

                                        <label><strong>Trạng thái cảm xúc cá nhân</strong></label>
                                        <p>adasdfsdf</p>
                                        <label><strong>Bối cảnh môi trường</strong></label>
                                        <p>adasdfsdf</p>
                                        <label><strong>Bối cảnh hoạt đông</strong></label>
                                        <p>adasdfsdf</p>
                                    </div>
                                    <div class="tab-pane p-3" id="hauquasuco" role="tabpanel">
                                        <label><strong>Trạng thái cảm xúc cá nhân</strong></label>
                                        <p>adasdfsdf</p>
                                        <label><strong>Bối cảnh môi trường</strong></label>
                                        <p>adasdfsdf</p>
                                        <label><strong>Bối cảnh hoạt đông</strong></label>
                                        <p>adasdfsdf</p>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

