
@{
    ViewData["Title"] = "Thông tin chi tiết học sinh";
}
@section styles {
    <link href="~/assets/css/style.css" rel="stylesheet" type="text/css" media="screen">
}
<div class="row">
    <div class="col-sm-12">
        <div class="page-title-box">
            <h4 class="page-title">@ViewData["Title"]</h4>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-12 col-6">
        <div class="card m-b-30">
            <div class="card-body">
                <div class="about-info">
                    <div class="media m-b-30">
                        <img class="rounded mr-3" src="~/assets/img/user.jpg" alt="Generic placeholder image">
                        <div class="media-body">
                            <ul>
                                <li>
                                    <span class="title-span">Họ và tên : </span>
                                    <span class="info-span">Daisy Parks</span>
                                </li>
                                <li>
                                    <span class="title-span">Địa chỉ : </span>
                                    <span class="info-span">Quận 9</span>
                                </li>
                                <li>
                                    <span class="title-span">Số điện thoại : </span>
                                    <span class="info-span">+91 89657 48512</span>
                                </li>
                                <li>
                                    <span class="title-span">Email : </span>
                                    <span class="info-span">
                                        <a href="https://preschool.dreamguystech.com/cdn-cgi/l/email-protection"
                                           class="__cf_email__"
                                           data-cfemail="7216131b010b32151f131b1e5c111d1f">[email&#160;protected]</a>
                                    </span>
                                </li>
                                <li>
                                    <span class="title-span">Giới tính : </span>
                                    <span class="info-span">Male</span>
                                </li>
                                <li>
                                    <span class="title-span">Ngày sinh : </span>
                                    <span class="info-span">22 Apr 1995</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div><!--end row-->
