
@{
    ViewData["Title"] = "Thông tin can thiệp";
}

<div class="row text-center">
    <div class="col-sm-12 ">
        <div class="page-title-box">
            <h4 class="page-title">@ViewData["Title"]</h4>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-6 mx-auto">
        <div class="card m-b-20">
            <div class="card-body">
                <ul class="nav nav-pills nav-justified" role="tablist">
                    <li class="nav-item waves-effect waves-light">
                        <a class="nav-link active" data-toggle="tab" href="#tuongtrinh" role="tab">Nâng cấp hồ sơ</a>
                    </li>
                    <li class="nav-item waves-effect waves-light">
                        <a class="nav-link" data-toggle="tab" href="#phantich" role="tab">Quản lý nâng cấp</a>
                    </li>
                    <li class="nav-item waves-effect waves-light">
                        <a class="nav-link" data-toggle="tab" href="#chucnang" role="tab">Ngăn chặn leo thang</a>
                    </li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane active p-3" id="tuongtrinh" role="tabpanel">
                        <label><strong>Ngày</strong></label>
                        <p>adasdfsdf</p>
                        <label><strong>Giai đoạn nhẹ</strong></label>
                        <p>adasdfsdf</p>
                        <label><strong>Giai đoạn trung bình</strong></label>
                        <p>adasdfsdf</p>
                        <label><strong>Giai đoạn Nghiêm Trọng</strong></label>
                        <p>adasdfsdf</p>
                        <label><strong>Giai đoạn phục hồi</strong></label>
                        <p>adasdfsdf</p>
                    </div>
                    <div class="tab-pane p-3" id="phantich" role="tabpanel">
                        <label><strong>Giai đoạn nhẹ</strong></label>
                        <p>adasdfsdf</p>
                        <label><strong>Giai đoạn trung bình</strong></label>
                        <p>adasdfsdf</p>
                        <label><strong>Giai đoạn Nghiêm Trọng</strong></label>
                        <p>adasdfsdf</p>
                        <label><strong>Giai đoạn phục hồi</strong></label>
                        <p>adasdfsdf</p>
                    </div>
                    <div class="tab-pane p-3" id="chucnang" role="tabpanel">
                        <div class="card m-b-20">
                            <div class="card-body">
                                <ul class="nav nav-pills nav-justified" role="tablist">
                                    <li class="nav-item waves-effect waves-light">
                                        <a class="nav-link active" data-toggle="tab" href="#adhd" role="tab">ADHD</a>
                                    </li>
                                    <li class="nav-item waves-effect waves-light">
                                        <a class="nav-link" data-toggle="tab" href="#doilap" role="tab">Đối lập</a>
                                    </li>
                                    <li class="nav-item waves-effect waves-light">
                                        <a class="nav-link" data-toggle="tab" href="#tuky" role="tab">Tự kỷ</a>
                                    </li>
                                    <li class="nav-item waves-effect waves-light">
                                        <a class="nav-link" data-toggle="tab" href="#hunghang" role="tab">Hung hăng</a>
                                    </li>
                                    <li class="nav-item waves-effect waves-light">
                                        <a class="nav-link" data-toggle="tab" href="#lolang" role="tab">Lo lắng</a>
                                    </li>
                                </ul>
                                <div class="tab-content">
                                    <div class="tab-pane active p-3" id="adhd" role="tabpanel">

                                        <label><strong>Chiến lược hoạt động</strong></label>
                                        <p>adasdfsdf</p>
                                        <label><strong>Chiến lược tương tác</strong></label>
                                        <p>adasdfsdf</p>
                                        <label><strong>Chiến lược môi trường</strong></label>
                                        <p>adasdfsdf</p>
                                    </div>
                                    <div class="tab-pane p-3" id="doilap" role="tabpanel">
                                        <label><strong>Chiến lược hoạt động</strong></label>
                                        <p>adasdfsdf</p>
                                        <label><strong>Chiến lược tương tác</strong></label>
                                        <p>adasdfsdf</p>
                                        <label><strong>Chiến lược môi trường</strong></label>
                                        <p>adasdfsdf</p>
                                    </div>
                                    <div class="tab-pane p-3" id="tuky" role="tabpanel">

                                        <label><strong>Chiến lược hoạt động</strong></label>
                                        <p>adasdfsdf</p>
                                        <label><strong>Chiến lược tương tác</strong></label>
                                        <p>adasdfsdf</p>
                                        <label><strong>Chiến lược môi trường</strong></label>
                                        <p>adasdfsdf</p>
                                    </div>
                                    <div class="tab-pane p-3" id="hunghang" role="tabpanel">
                                        <label><strong>Chiến lược hoạt động</strong></label>
                                        <p>adasdfsdf</p>
                                        <label><strong>Chiến lược tương tác</strong></label>
                                        <p>adasdfsdf</p>
                                        <label><strong>Chiến lược môi trường</strong></label>
                                        <p>adasdfsdf</p>
                                    </div><div class="tab-pane p-3" id="lolang" role="tabpanel">

                                        <label><strong>Chiến lược hoạt động</strong></label>
                                        <p>adasdfsdf</p>
                                        <label><strong>Chiến lược tương tác</strong></label>
                                        <p>adasdfsdf</p>
                                        <label><strong>Chiến lược môi trường</strong></label>
                                        <p>adasdfsdf</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

