@using BehaviourManagementSystem_ViewModels.Requests;
@model LoginRequest
@{
    Layout = "~/Views/Shared/_LayoutAuth.cshtml";
}
<div class="login-right">
    <div class="login-right-wrap">
        <h1>Đăng nhập</h1>
        <p class="account-subtitle">Đăng nhập học sinh</p>
        <form method="post" asp-area="StudentApp" asp-controller="Account" asp-action="Login">
            @if (!ViewData.ModelState.IsValid)
            {
                <div class="alert alert-danger" role="alert">
                    <strong>@ViewData.ModelState[String.Empty].Errors[0].ErrorMessage</strong>
                </div>
            }
            <div class="form-group">
                <input asp-for="UserNameOrEmail" value="lisa" class="form-control" type="text" placeholder="Tài khoản">
            </div>
            <div class="form-group">
                <input asp-for="Password" value="Lisa123" class="form-control" type="password" placeholder="Mật khẩu">
            </div>
            <div class="form-group">
                <button class="btn btn-primary btn-block" type="submit">Đăng nhập</button>
            </div>
        </form>
        <div class="text-center forgotpass"><a href="/Account/ForgotPassword">Quên mật khẩu?</a></div>
        
    </div>
</div>


