@model IndAssessRequest
@{
    ViewData["Title"] = "StudentAdd";
    Layout = "~/Views/Shared/_LayoutTeacher.cshtml";
}
@section Styles{
    <link rel="stylesheet" href="~/lib/jquery-password/css/jquery.passwordRequirements.css" />
    <style>
        .parsley-error {
            border-color: #ec536c
        }

        .parsley-errors-list {
            display: none;
            margin: 0;
            padding: 0
        }

            .parsley-errors-list.filled {
                display: block
            }

            .parsley-errors-list > li {
                font-size: 12px;
                list-style: none;
                color: #ec536c;
                margin-top: 5px
            }
    </style>

}
<div class="page-header">
    <div class="row align-items-center">
        <div class="col">
            <h3 class="page-title">Thêm Học Sinh</h3>
            <ul class="breadcrumb">
                <li class="breadcrumb-item"><a href="students.html">Học sinh</a></li>
                <li class="breadcrumb-item active">Thêm học sinh</li>
            </ul>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <div class="card">
            <div class="card-body">
                <form method="post" asp-action="StudentAdd" asp-controller="Student" enctype="multipart/form-data">
                    <input hidden asp-for="TeacherId" value="@User.FindFirst("Id").Value">
                    <div class="row">
                        <div class="col-12">
                            <h5 class="form-title"><span>Student Information</span></h5>
                        </div>

                        <div class="col-12 col-sm-6">
                            <div class="form-group">
                                <label>Họ<span style="color: red;">*</span></label>
                                <input required asp-for="FirstName" type="text" class="form-control">
                            </div>
                        </div>
                        <div class="col-12 col-sm-6">
                            <div class="form-group">
                                <label>Tên<span style="color: red;">*</span></label>
                                <input required asp-for="LastName" type="text" class="form-control">
                            </div>
                        </div>
                        <div class="col-12 col-sm-6">
                            <div class="form-group">
                                <label>Lớp<span style="color: red;">*</span></label>
                                <input required asp-for="Classes" type="text" class="form-control">
                            </div>
                        </div>
                        <div class="col-12 col-sm-6">
                            <div class="form-group">
                                <label>Giới Tính<span style="color: red;">*</span></label>
                                <select required asp-for="Gender" class="form-control">
                                    <option>-- Chọn Giới Tính --</option>
                                    <option>Nữ</option>
                                    <option>Nam</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-12 col-sm-6">
                            <div class="form-group">
                                <label>Ngày Sinh<span style="color: red;">*</span></label>
                                <div>
                                    <input asp-for="DOB" type="date" class="form-control">
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-sm-6">
                            <div class="form-group">
                                <label>Hình Học Sinh</label>
                                <input asp-for="AvtName" type="file" class="form-control">
                            </div>
                        </div>
                        <div class="col-12 col-sm-6">
                            <div class="form-group">
                                <label>Địa Chỉ</label>
                                <input asp-for="Address" type="text" class="form-control">
                            </div>
                        </div>
                        <div class="col-12 col-sm-6">
                            <div class="form-group">
                                <label>Email<span style="color: red;">*</span></label>
                                <input required asp-for="Email" type="email" class="form-control">
                            </div>
                        </div>
                        <div class="col-12 col-sm-6">
                            <div class="form-group">
                                <label>Tài Khoản Học Sinh<span style="color: red;">*</span></label>
                                <input required asp-for="UserName" type="text" class="form-control">
                            </div>
                        </div>
                        <div class="col-12 col-sm-6">
                            <div class="form-group">
                                <label>Mật Khẩu Học Sinh<span style="color: red;">*</span></label>
                                <input asp-for="Password" type="password" class="form-control pr-password">
                            </div>
                        </div>
                        <div class="col-12 text-xl-center">
                            <button type="submit" class="btn btn-primary ">Thêm</button>
                        </div>

                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
@section scripts{
    <script src="~/plugins/parsleyjs/parsley.min.js"></script>
    <script src="/lib/jquery-password/js/jquery.passwordRequirements.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('form').parsley();
            $(".pr-password").passwordRequirements({
                numCharacters: 6,
                useLowercase: true,
                useUppercase: true,
                useNumbers: true,
                useSpecial: true,
                infoMessage: 'Mật khẩu chứa ít nhất 6 kí tự, có chứa số ,có chứa kí tự đặt biệt.'
            });
        });

    </script>
}

