@{
    ViewData["Title"] = "StudentDetail";
    Layout = "~/Views/Shared/_LayoutTeacher.cshtml";
}

<div class="page-header">
    <div class="row">
        <div class="col-sm-12">
            <h3 class="page-title">Student Details</h3>
            <ul class="breadcrumb">
                <li class="breadcrumb-item"><a href="students.html">Student</a></li>
                <li class="breadcrumb-item active">Student Details</li>
            </ul>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="about-info">
            <h4>About Me</h4>
            <div class="media mt-3">
                <img src="~/assets/img/user.jpg" class="mr-3" alt="...">
                <div class="media-body">
                    <ul>
                        <li>
                            <span class="title-span">Full Name : </span>
                            <span class="info-span">Daisy Parks</span>
                        </li>
                        <li>
                            <span class="title-span">Address : </span>
                            <span class="info-span">Quận 9</span>
                        </li>
                        <li>
                            <span class="title-span">Mobile : </span>
                            <span class="info-span">+91 89657 48512</span>
                        </li>
                        <li>
                            <span class="title-span">Email : </span>
                            <span class="info-span">
                                <a href="https://preschool.dreamguystech.com/cdn-cgi/l/email-protection"
                                   class="__cf_email__"
                                   data-cfemail="7216131b010b32151f131b1e5c111d1f">[email&#160;protected]</a>
                            </span>
                        </li>
                        <li>
                            <span class="title-span">Gender : </span>
                            <span class="info-span">Male</span>
                        </li>
                        <li>
                            <span class="title-span">DOB : </span>
                            <span class="info-span">22 Apr 1995</span>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- <div class="row mt-3">
                <div class="col-md-12">
                    <p>Hello I am Daisy Parks. Lorem Ipsum is simply dummy text of the printing
                        and typesetting industry, simply dummy text of the printing and
                        typesetting industry.</p>
                </div>
            </div>
            <div class="row follow-sec">
                <div class="col-md-4 mb-3">
                    <div class="blue-box">
                        <h3>2850</h3>
                        <p>Followers</p>
                    </div>
                </div>
                <div class="col-md-4 mb-3">
                    <div class="blue-box">
                        <h3>2050</h3>
                        <p>Following</p>
                    </div>
                </div>
                <div class="col-md-4 mb-3">
                    <div class="blue-box">
                        <h3>2950</h3>
                        <p>Friends</p>
                    </div>
                </div>
            </div> -->
            <!-- <div class="row mt-2">
                <div class="col-md-12">
                    <h5>Permanent Address</h5>
                    <p>480, Estern Avenue, Courtage area, New York</p>
                </div>
            </div>
            <div class="row mt-2">
                <div class="col-md-12">
                    <h5>Present Address</h5>
                    <p>480, Estern Avenue, Courtage area, New York</p>
                </div>
            </div> -->
        </div>
    </div>
</div>
<!-- Đánh giá Start -->
<div class="row">
    <div class="col-sm-12">
        <div class="card-body">
            <ul class="nav nav-tabs nav-tabs-solid">
                <li class="nav-item">
                    <a class="nav-link active" href="#solid-tab1"
                       data-toggle="tab">Đánh Giá</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#solid-tab2"
                       data-toggle="tab">Can Thiệp</a>
                </li>
            </ul>
            <hr>
            <div class="tab-content">
                <div class="tab-pane show active" id="solid-tab1">
                    <a href="/Assessment">
                        <button type="button" class="btn btn-info btn-danhgia">Thêm đánh giá</button>
                    </a>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="card card-table">
                                <div class="card-body">
                                    <div class="table-responsive">
                                        <table class="table table-hover table-center mb-0 datatable">
                                            <thead>
                                                <tr class="text-center">
                                                    <th class="">Ngày</th>
                                                    <th class="">Thời Gian</th>
                                                    <th>Tường Trình</th>
                                                    <th>Phân Tích</th>
                                                    <th>Chi Tiết</th>
                                                    <th class="">Tóm Tắt</th>
                                                    <th class="text-right">Tùy Chọn</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr class="text-center">
                                                    <td>14/12/2022</td>
                                                    <td>14:12</td>
                                                    <td>
                                                        <span class="badge badge-success">Hoàn Thành</span>
                                                    </td>
                                                    <td>
                                                        <span class="badge badge-success">Hoàn Thành</span>
                                                    </td>
                                                    <td>
                                                        <span class="badge badge-danger">Chưa Hoàn Thành</span>
                                                    </td>
                                                    <td>Xin Chào</td>
                                                    <td class="text-right">
                                                        <div class="actions">
                                                            <a href="edit-room.html"
                                                               class="btn btn-sm bg-success-light mr-2">
                                                                <i class="fas fa-pen"></i>
                                                            </a>
                                                            <a href="#" class="btn btn-sm bg-danger-light">
                                                                <i class="fas fa-trash"></i>
                                                            </a>
                                                        </div>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane" id="solid-tab2">
                    <a href="/Intervention">
                        <button type="button" class="btn btn-info btn-danhgia">Thêm Can Thiệp</button>
                    </a>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="card card-table">
                                <div class="card-body">
                                    <div class="table-responsive">
                                        <table class="table table-hover table-center mb-0 datatable">
                                            <thead>
                                                <tr class="text-center">
                                                    <th>Ngày</th>
                                                    <th>Hồ Sơ</th>
                                                    <th>Quản Lý</th>
                                                    <th>Ngăn Chặn</th>
                                                    <th>Tóm Tắt</th>
                                                    <th class="text-right">Tùy Chọn</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr class="text-center">
                                                    <td>14/12/2022</td>
                                                    <td>
                                                        <span class="badge badge-success">Hoàn Thành</span>
                                                    </td>
                                                    <td>
                                                        <span class="badge badge-success">Hoàn Thành</span>
                                                    </td>
                                                    <td>
                                                        <span class="badge badge-danger">Chưa Hoàn Thành</span>
                                                    </td>
                                                    <td>Xin Chào</td>
                                                    <td class="text-right">
                                                        <div class="actions">
                                                            <a href="edit-room.html"
                                                               class="btn btn-sm bg-success-light mr-2">
                                                                <i class="fas fa-pen"></i>
                                                            </a>
                                                            <a href="#" class="btn btn-sm bg-danger-light">
                                                                <i class="fas fa-trash"></i>
                                                            </a>
                                                        </div>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
<!-- Đánh giá End -->

<footer>
    <p>Copyright © 2020 Dreamguys.</p>
</footer>

