@model IndAssessRequest
@{
    ViewData["Title"] = "StudentAdd";
    Layout = "~/Views/Shared/_LayoutTeacher.cshtml";
}

<div class="page-header">
    <div class="row align-items-center">
        <div class="col">
            <h3 class="page-title">Thêm Học Sinh</h3>
            <ul class="breadcrumb">
                <li class="breadcrumb-item"><a href="students.html">Học sinh</a></li>
                <li class="breadcrumb-item active">Thêm học sinh</li>
            </ul>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <div class="card">
            <div class="card-body">
                <form method="post" asp-action="StudentAdd" asp-controller="Student" enctype="multipart/form-data">
                    <input hidden asp-for="TeacherId" value="@User.FindFirst("Id").Value">
                    <div class="row">
                        <div class="col-12">
                            <h5 class="form-title"><span>Student Information</span></h5>
                        </div>

                        <div class="col-12 col-sm-6">
                            <div class="form-group">
                                <label>Họ</label>
                                <input asp-for="FirstName" type="text" class="form-control">
                            </div>
                        </div>
                        <div class="col-12 col-sm-6">
                            <div class="form-group">
                                <label>Tên</label>
                                <input asp-for="LastName" type="text" class="form-control">
                            </div>
                        </div>
                        <div class="col-12 col-sm-6">
                            <div class="form-group">
                                <label>Lớp</label>
                                <input asp-for="Classes" type="text" class="form-control">
                            </div>
                        </div>
                        <div class="col-12 col-sm-6">
                            <div class="form-group">
                                <label>Giới Tính </label>
                                <select required asp-for="Gender" class="form-control">
                                    <option>-- Chọn Giới Tính --</option>
                                    <option>Nữ</option>
                                    <option>Nam</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-12 col-sm-6">
                            <div class="form-group">
                                <label>Ngày Sinh</label>
                                <div>
                                    <input asp-for="DOB" type="date" class="form-control">
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-sm-6">
                            <div class="form-group">
                                <label>Hình Học Sinh</label>
                                <input asp-for="AvtName" type="file" class="form-control">
                            </div>
                        </div>
                        <div class="col-12 col-sm-6">
                            <div class="form-group">
                                <label>Địa Chỉ</label>
                                <input asp-for="Address" type="text" class="form-control">
                            </div>
                        </div>
                        <div class="col-12 col-sm-6">
                            <div class="form-group">
                                <label>Email</label>
                                <input asp-for="Email" type="text" class="form-control">
                            </div>
                        </div>
                        <div class="col-12 col-sm-6">
                            <div class="form-group">
                                <label>Tài Khoản Học Sinh</label>
                                <input asp-for="UserName" type="text" class="form-control">
                            </div>
                        </div>
                        <div class="col-12 col-sm-6">
                            <div class="form-group">
                                <label>Mật Khẩu Học Sinh</label>
                                <input asp-for="Password" type="password" class="form-control" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{6,}" title="Must contain at least one  number and one uppercase and lowercase letter, and at least 8 or more characters">
                            </div>
                        </div>
                        <div class="col-12 text-xl-center">
                            <button type="submit" class="btn btn-primary ">Thêm</button>
                        </div>

                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

