
@{
    ViewData["Title"] = "TeacherProfileEdit";
    Layout = "~/Views/Shared/_LayoutTeacher.cshtml";
}

<div class="page-header">
    <div class="row align-items-center">
        <div class="col">
            <h3 class="page-title">Chỉnh sửa thông tin</h3>
            <ul class="breadcrumb">
                <li class="breadcrumb-item"><a href="students.html">Hồ Sơ</a></li>
                <li class="breadcrumb-item active">Chinh sửa</li>
            </ul>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <div class="card">
            <div class="card-body">
                <form>
                    <div class="row">
                        <div class="col-12">
                            <h5 class="form-title"><span>Teacher Information</span></h5>
                        </div>
                        <div class="col-12 col-sm-6">
                            <div class="form-group">
                                <label>Họ Và Tên</label>
                                <input type="text" class="form-control">
                            </div>
                        </div>
                        <div class="col-12 col-sm-6">
                            <div class="form-group">
                                <label>Giới Tính </label>
                                <select class="form-control">
                                    <option>-- Chọn Giới Tính --</option>
                                    <option>Nữ</option>
                                    <option>Nam</option>
                                    <option>Khác</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-12 col-sm-6">
                            <div class="form-group">
                                <label>Ngày Sinh</label>
                                <div>
                                    <input type="date" class="form-control">
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-sm-6">
                            <div class="form-group">
                                <label>Hình Giáo Viên</label>
                                <input type="file" class="form-control">
                            </div>
                        </div>
                        <div class="col-12 col-sm-6">
                            <div class="form-group">
                                <label>Địa Chỉ</label>
                                <input type="text" class="form-control">
                            </div>
                        </div>
                        <div class="col-12 col-sm-6">
                            <div class="form-group">
                                <label>Email</label>
                                <input type="text" class="form-control">
                            </div>
                        </div>
                        <div class="col-12 text-xl-center">
                            <button type="submit" class="btn btn-primary ">Sửa</button>
                        </div>

                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

