@model ResetPasswordRequest
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <title>Đổi mật khẩu cho tài khoản mới</title>
    <link rel="shortcut icon" href="~/assets/img/favicon.png">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/icons.css" />
    <link rel="stylesheet" href="~/css/metismenu.min.css" />
    <link rel="stylesheet" href="~/css/style.css" />
</head>
<body>
    <!-- Begin page -->
    <div class="account-pages my-5 pt-sm-5">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-8 col-lg-6 col-xl-5">
                    <div class="card overflow-hidden">
                        <div class="card-body pt-0">
                            <h3 class="text-center mt-4">
                                <a href="index.html" class="logo logo-admin">
                                    <img style="position: relative;" src="~/assets/img/favicon.png" height="30" alt="logo">
                                </a>
                            </h3>
                            <div class="p-3">
                                <h4 class="text-muted font-size-18 mb-3 text-center">Tạo mới mật khẩu cho tài khoản</h4>
                                <div class="row">
                                    <div>
                                        <div class="media m-b-30">
                                            <img class="img-fluid rounded-circle." src="/images/default_avt.png" alt="Generic placeholder image">

                                        </div>
                                    </div>
                                </div>
                                <form class="form-horizontal mt-4" action="/Admin/User/NewPassword" method="post">
                                    <input hidden asp-for="Id" type="text" class="form-control">
                                    <input hidden asp-for="UserOrEmail" type="text" class="form-control">
                                    <input hidden asp-for="Code" type="text" class="form-control">
                                    <div class="form-group">
                                        <label for="useremail">Mật khẩu mới</label>
                                        <input id="pass1" asp-for="PasswordNew" type="password" class="form-control">

                                        <label for="useremail">Xác nhận mật khẩu</label>
                                        <input asp-for="PasswordConfirm" type="password" data-parsley-equalto="#pass1" class="form-control">
                                    </div>

                                    <div class="form-group row">
                                        <div class="col-12 text-right">
                                            <button class="btn btn-primary w-md waves-effect waves-light" type="submit">Reset</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/jquery.slimscroll.js"></script>
    <script src="~/js/jquery.sparkline.min.js"></script>
    <script src="~/js/metisMenu.min.js"></script>
    <script src="~/js/waves.min.js"></script>
    <script src="~/plugins/parsleyjs/parsley.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('form').parsley();
        });
    </script>
</body>
</html>
