@model ResetPasswordRequest
@{
    Layout = null;
}
<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <title>Đổi mật khẩu cho tài khoản mới</title>
    <link rel="shortcut icon" href="~/assets/img/favicon.png">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/icons.css" />
    <link rel="stylesheet" href="~/css/metismenu.min.css" />
    <link rel="stylesheet" href="~/css/app.min.css" />
    <style>
        form .indicator {
            height: 10px;
            align-items: center;
            justify-content: space-between;
            display: none;
            margin: 10px 0;
        }

            form .indicator span {
                width: 100%;
                height: 100%;
                background-color: lightgray;
                border-radius: 5px;
                position: relative;
            }

                form .indicator span.medium {
                    margin: 0 3px;
                }

                form .indicator span:before {
                    content: '';
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    border-radius: 5px;
                }

                form .indicator span.active.weak:before {
                    background-color: #ff0000;
                }

                form .indicator span.active.medium:before {
                    background-color: orange;
                }

                form .indicator span.active.strong:before {
                    background-color: #23ad5c;
                }

        form .text {
            font-size: 13px;
            font-weight: 500;
            margin-bottom: -10px;
            display: none;
        }

            form .text.weak {
                color: #ff0000;
            }

            form .text.medium {
                color: orange;
            }

            form .text.strong {
                color: #23ad5c;
            }
    </style>
</head>
<body>
    <!-- Begin page -->
    <div class="account-pages my-5 pt-sm-5">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-8 col-lg-6 col-xl-5">
                    <div class="card overflow-hidden">
                        <div class="card-body pt-0">
                            <h3 class="text-center mt-4">
                                <a href="index.html" class="logo logo-admin">
                                    <img style="position: relative;" src="~/assets/img/favicon.png" height="30" alt="logo">
                                </a>
                            </h3>
                            <div class="p-3">
                                <h4 class="text-muted font-size-18 mb-3 text-center">Tạo mới mật khẩu cho tài khoản</h4>
                        @*        <div class="row">
                                    <div class="media m-b-30">
                                        <img class="img-fluid rounded-circle." src="/images/@ViewBag.User.AvtName" alt="Generic placeholder image">
                                    </div>
                                </div>*@
                                <div class="row">
                                    <div class="col-12 text-center">
                                        <label>Tên đăng nhập</label>
                                        <label>@ViewBag.User.UserName</label>
                                    </div>
                                </div>
                                <form class="form-horizontal mt-4" action="/Admin/User/NewPassword" method="post">
                                    <input hidden asp-for="Id" type="text" class="form-control">
                                    <input hidden asp-for="UserOrEmail" type="text" class="form-control">
                                    <input hidden asp-for="Code" type="text" class="form-control">
                                    <div class="form-group">
                                        <label for="useremail">Mật khẩu</label>
                                        <input onkeyup="trigger()" required id="pass1" asp-for="PasswordNew" type="password" class="form-control" data-parsley-pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{6,}" data-parsley-required-message="Hãy nhập mật khẩu cho tài khoản" data-parsley-pattern-message="Mật khẩu không đúng yêu cầu">
                                        <div class="indicator">
                                            <span class="weak"></span>
                                            <span class="medium"></span>
                                            <span class="strong"></span>
                                        </div>
                                        <div class="text"></div>

                                    </div>
                                    <div class="form-group">
                                        <label for="useremail">Xác nhận mật khẩu</label>
                                        <input required asp-for="PasswordConfirm" type="password" data-parsley-equalto="#pass1" class="form-control" data-parsley-required-message="Hãy xác nhận mật khẩu" data-parsley-equalto-message="Mật khẩu xác nhận không trùng khớp">
                                    </div>

                                    <div class="form-group row">
                                        <div class="col-12 text-right">
                                            <button class="btn btn-primary w-md waves-effect waves-light" type="submit">Ok</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/jquery.slimscroll.js"></script>
    <script src="~/js/jquery.sparkline.min.js"></script>
    <script src="~/js/metisMenu.min.js"></script>
    <script src="~/js/waves.min.js"></script>
    <script src="~/plugins/parsleyjs/parsley.min.js"></script>
    @await Component.InvokeAsync("NToastNotify")
    <script type="text/javascript">
        $(document).ready(function () {
            $('form').parsley();
        });
        // Check password strong
        function trigger() {
            let no;
            let regWeak = /[A-z]/;
            let regMedium = /\d+/;
            let regStrong = /.[!,@@,#,$,%,^,&,*,?,_,~,-,(,),]/;
            var input = $('#pass1');
            var indicator = $('.indicator');
            var weak = $('.weak');
            var medium = $('.medium');
            var strong = $('.strong');
            var text = $('.text');
            if (input.val() != '') {
                indicator.css('display', 'block');
                indicator.css('display', 'flex');
                if (input.val().length <= 3 && (input.val().match(regWeak) || input.val().match(regMedium) || input.val().match(regStrong))) {
                    no = 1;
                }
                if (input.val().length >= 6 && ((input.val().match(regWeak) && input.val().match(regMedium)) || (input.val().match(regMedium) && input.val().match(regStrong)) || (input.val().match(regWeak) && (input.val().match(regStrong))))) {
                    no = 2;
                }
                if (input.val().length >= 6 && input.val().match(regWeak) && input.val().match(regMedium) && input.val().match(regStrong)) {
                    no = 3;
                }
                if (no == 1) {
                    weak.addClass('active');
                    text.css('display', 'block');
                    text.html("Mật khẩu của bạn yếu");
                    text.addClass('weak');
                }
                if (no == 2) {
                    medium.addClass('active');
                    text.html("Mật khẩu của bạn trung bình");
                    text.addClass('medium');
                }
                else {
                    medium.removeClass('active');
                    text.removeClass('medium');
                }
                if (no == 3) {
                    medium.addClass('active');
                    strong.addClass('active');
                    text.html("Mật khẩu của bạn mạnh");
                    text.addClass('strong');
                }
                else {
                    strong.removeClass('active');
                    text.removeClass('strong');
                }
            }
            else {
                indicator.css('display', 'none');
                text.css('display', 'none');
            }
        };

    </script>
</body>
</html>
