@{
    Layout = null;
}
<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <title>Đăng nhập Admin</title>
    <link rel="shortcut icon" href="~/assets/img/favicon.png">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/icons.css" />
    <link rel="stylesheet" href="~/css/metismenu.min.css" />
    <link rel="stylesheet" href="~/css/app.min.css" />
</head>
<body>
    <!-- Begin page -->
    <div class="account-pages my-5 pt-sm-5">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-8 col-lg-6 col-xl-5">
                    <div class="card overflow-hidden">
                        <div class="card-body pt-0">
                            <h3 class="text-center mt-4">
                                <div class="logo logo-admin">
                                    <img style="position: relative;" src="~/assets/img/access-denied.png" alt="logo">
                                </div>
                            </h3>
                            <div class="ex-page-content text-center">
                                <h3 class="">Không có quyền truy cập!</h3>
                                <br>

                                <a class="btn btn-info mb-4 waves-effect waves-light" href="../"><i class="mdi mdi-home"></i>Quay lại trang đăng nhập</a>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </body>
</html>
