
@{
    ViewData["Title"] = "ConfirmEmail";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}

<div class="container-login100">

    <div style="width:790px;" class="wrap-login100 p-l-55 p-r-55 p-t-65 p-b-54">
        <form action="" method="post" class="login100-form validate-form">

            <a href="index.html" class="logo logo-admin">
                <img style="MARGIN: 0 17rem; margin-bottom: 1.5rem" src="~/assets/img/favicon.png" height="100" alt="logo">
            </a>
            
            <h2 style="text-decoration-style:wavy ;font-style:normal; color:brown;text-align:center; align-content:center; border-radius: 3px;padding-left: 20px">
                Xác thực email của bạn thành công
            </h2>
            <div class="container-login100-form-btn">
                <div class="wrap-login100-form-btn">
                    <div class="login100-form-bgbtn"></div>
                    <a href="/Account/Login" style="font-size:2rem;" class="login100-form-btn">
                        Quay lại đăng nhập
                    </a>
                </div>
            </div>

        </form>
    </div>
</div>

