@using BehaviourManagementSystem_ViewModels.Requests;
@model LoginRequest
@{
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
    var message = ViewBag.Message;
}
<div class="container-login100">
    <div class="wrap-login100 p-l-55 p-r-55 p-t-65 p-b-54">
        <div class="card-body pt-0">
            <div style="display: flex; justify-content: center; margin-left: -10rem ">
                <div class="logo logo-admin">
                    <img src="~/assets/img/favicon.png" height="50" alt="logo">
                </div>
                <div style="margin-left: -9rem; margin-top: 0.5rem; margin-left: -10rem ">
                    <span style="margin-left:1rem;" class="login100-form-title p-b-49">
                        PreKool
                    </span>
                </div>
            </div>
            <div class="p-3">
                @if (message != null)
                {
                    <div class="alert alert-danger" role="alert">
                        <strong>@message</strong>
                    </div>
                }

                <span class="login100-form-title p-b-49">
                    QUÊN MẬT KHẨU
                </span>
                <div class="alert alert-info" role="alert">
                    Điền email của bạn, hệ thống sẽ gửi email
                </div>
                <form class="login100-form validate-form" action="/Account/ForgotPassword" method="post">

                    <div class="wrap-input100 validate-input m-b-23" data-validate="Phải nhập email">
                        <span class="label-input100 font-weight-bold">Email</span>
                        <input type="email" class="input100" name="userNameOrEmail" placeholder="Nhập email">
                        <span class="focus-input100" data-symbol="&#xf206;"></span>
                    </div>

                    <div style="margin-top: 2rem;" class="container-login100-form-btn">
                        <div class="wrap-login100-form-btn">
                            <div class="login100-form-bgbtn"></div>
                            <button type="submit" class="login100-form-btn">
                                Gửi Email
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

