@model LoginRequest
@{
    Layout = "~/Views/Shared/_LayoutAuth.cshtml";
}
<div class="login-right">
    <div class="login-right-wrap">
        <h1>Đăng nhập</h1>
        <p class="account-subtitle">Đăng nhập giáo viên</p>
        <form method="post" action="/Account/Login">
            @if(!ViewData.ModelState.IsValid)
            {
                <div id="ErrorLogin" class="alert alert-danger" role="alert">
                    <strong>@ViewData.ModelState[String.Empty].Errors[0].ErrorMessage</strong>
                </div>
            }
            <div class="form-group">
                <input asp-for="UserNameOrEmail" class="form-control" type="text" placeholder="Tên tài khoản hoặc email">
            </div>
            <div class="form-group">
                <input asp-for="Password" class="form-control" type="password" placeholder="Mật khẩu">
            </div>
            <div class="form-group">
                <button class="btn btn-primary btn-block" type="submit">Đăng nhập</button>
            </div>
        </form>
        <div class="text-center forgotpass"><a href="/Account/ForgotPassword">Quên mật khẩu?</a></div>
        <div class="login-or">
            <span class="or-line"></span>
            <span class="span-or">hoặc</span>
        </div>
        <div class="social-login">
            <span>Đăng nhập bằng</span>
            <button id="GoogleLogin" type="button" style="border:0px solid; background-color:transparent;">
            </button>
        </div>
        <div class="text-center dont-have">Chưa có tài khoản? <a href="#">Đăng ký</a></div>
    </div>
</div>

@{
    <form asp-action="GoogleSigin" asp-controller="Account" id="sumitForm" hidden>
        <input type="text" id="txt-token" name="token" />
        <button type="submit"></button>
    </form>
}

@section scripts{
    <script>
        window.onload = function() {
            var googleclientid = "@ViewBag.GoogleClientId";
            console.log(googleclientid)
            google.accounts.id.initialize({
                client_id: `${googleclientid}`,
                callback: handlerCreadetial
            });
            google.accounts.id.renderButton(
                document.getElementById("GoogleLogin"),
                {}
            );
            google.accounts.id.prompt();
        }

        function findByKey(key, value) {
            return (item, i) => item[key] === value
        }

        function handlerCreadetial(res) {
            var domain = '@ViewBag.api'
            console.log(res.credential)
            $.ajax({
                type: "POST",
                dataType: "json",
                url: `${domain}/api/Account/GoogleSigin?token=${res.credential}`,
                contentType: "application/json;charset=utf-8",
                success: function(data) {
                    $('#txt-token').val(data.result)
                    $('#sumitForm').submit()
                }
            })
        }
    </script>
}