@model RegisterRequest
@{
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}
@*<div class="login-right">
        <div class="login-right-wrap">
            <h1>Đăng nhập</h1>
            <p class="account-subtitle">Đăng nhập giáo viên</p>
            <form method="post" action="/Account/Login">
                @if(!ViewData.ModelState.IsValid)
                {
                    <div id="ErrorLogin" class="alert alert-danger" role="alert">
                        <strong>@ViewData.ModelState[String.Empty].Errors[0].ErrorMessage</strong>
                    </div>
                }
                <div class="form-group">
                    <input asp-for="UserNameOrEmail" class="form-control" type="text" placeholder="Tên tài khoản hoặc email">
                </div>
                <div class="form-group">
                    <input asp-for="Password" class="form-control" type="password" placeholder="Mật khẩu">
                </div>
                <div class="form-group">
                    <button class="btn btn-primary btn-block" type="submit">Đăng nhập</button>
                </div>
            </form>
            <div class="text-center forgotpass"><a href="/Account/ForgotPassword">Quên mật khẩu?</a></div>
            <div class="login-or">
                <span class="or-line"></span>
                <span class="span-or">hoặc</span>
            </div>
            <div class="social-login">
                <span>Đăng nhập bằng</span>
                <button id="GoogleLogin" type="button" style="border:0px solid; background-color:transparent;">
                </button>
            </div>
            <div class="text-center dont-have">Chưa có tài khoản? <a href="#">Đăng ký</a></div>
        </div>
    </div>*@
<div class="container-login100">

    <div class="wrap-login100 p-l-55 p-r-55 p-t-65 p-b-54">
        <form action="/Account/Register" method="post" class="login100-form validate-form">
            @if (!ViewData.ModelState.IsValid)
            {
                <div id="ErrorLogin" class="alert alert-danger" role="alert">
                    <strong>@ViewData.ModelState[String.Empty].Errors[0].ErrorMessage</strong>
                </div>
            }
            <div style="display: flex; justify-content: center; margin-left: -10rem ">
                <div class="logo logo-admin">
                    <img src="~/assets/img/favicon.png" height="50" alt="logo">
                </div>
                <div style="margin-left: -9rem; margin-top: 0.5rem; margin-left: -10rem ">
                    <span style="margin-left:1rem;" class="login100-form-title p-b-49">
                        PreKool
                    </span>
                </div>
            </div>
            <h2 style="text-decoration-style:wavy ;font-style:normal; color:brown; align-content:center; border-radius: 3px;padding-left: 20px">
                ĐĂNG KÍ GIÁO VIÊN
            </h2>

            <div class="wrap-input100 validate-input m-b-23" data-validate="Trường này là bắt buộc">
                <span class="label-input100 font-weight-bold"></span>
                <input class="input100" type="text" asp-for="UserName" placeholder="Tên tài khoản . . .">
                <span class="focus-input100" data-symbol="&#xf206;"></span>
            </div>

            <div class="wrap-input100 validate-input m-b-23" data-validate="Trường này là bắt buộc">
                <span class="label-input100 font-weight-bold"></span>
                <input class="input100" type="email" asp-for="Email" placeholder="Email . . .">
                <span class="focus-input100" data-symbol="&#xf206;"></span>
            </div>

            <div class="wrap-input100 validate-input" data-validate="Trường này là bắt buộc">
                <span class="label-input100 font-weight-bold"></span>
                <input onkeyup="trigger()" id="password" class="input100" type="password" asp-for="Password" placeholder="Mật khẩu . . .">
                <span class="focus-input100" data-symbol="&#xf190;"></span>
            </div>
            <div class="indicator">
                <span class="weak"></span>
                <span class="medium"></span>
                <span class="strong"></span>
            </div>
            <div class="text"></div>
            <div style="margin-top:1rem;" class="wrap-input100 validate-input" data-validate="Trường này là bắt buộc">
                <span class="label-input100 font-weight-bold"></span>
                <input id="confirm_password" class="input100" type="password" asp-for="RePassword" placeholder="Nhập lại mật khẩu . . .">
                <span class="focus-input100" data-symbol="&#xf190;"></span>
            </div>


            <div style="margin-top: 2rem;" class="container-login100-form-btn">
                <div class="wrap-login100-form-btn">
                    <div class="login100-form-bgbtn"></div>
                    <button type="submit" class="login100-form-btn">
                        Đăng Kí
                    </button>
                </div>
            </div>

            <div style=" margin-top: -8.5rem;" class="flex-col-c p-t-155">
                <span class="txt1 p-b-17 font-weight-bold">
                    Bạn đã có tài khoản?
                    <a href="/Account/Login" class="txt3 font-weight-bold ml-1">
                        <u><i>Đăng nhập</i></u>
                    </a>
                </span>
            </div>
        </form>
    </div>
</div>

@section scripts{
    <script>

        $('#confirm_password').on('keyup', function () {

            if ($('#password').val() == "" || $('#confirm_password').val() == "") {
                $('#password').css('color', 'black');
                $('#confirm_password').css('color', 'black');
            }

            if ($('#password').val() == $('#confirm_password').val()) {
                $('#password').css('color', 'green');
                $('#confirm_password').css('color', 'green');
            } else {
                $('#confirm_password').css('color', 'red');
            }
        });
        function trigger() {
            let no;
            let regWeak = /[A-z]/;
            let regMedium = /\d+/;
            let regStrong = /.[!,@@,#,$,%,^,&,*,?,_,~,-,(,),]/;
            var input = $('#password');
            var indicator = $('.indicator');
            var weak = $('.weak');
            var medium = $('.medium');
            var strong = $('.strong');
            var text = $('.text');
            if (input.val() != '') {
                indicator.css('display', 'block');
                indicator.css('display', 'flex');
                if (input.val().length <= 3 && (input.val().match(regWeak) || input.val().match(regMedium) || input.val().match(regStrong))) {
                    no = 1;
                }
                if (input.val().length >= 6 && ((input.val().match(regWeak) && input.val().match(regMedium)) || (input.val().match(regMedium) && input.val().match(regStrong)) || (input.val().match(regWeak) && (input.val().match(regStrong))))) {
                    no = 2;
                }
                if (input.val().length >= 6 && input.val().match(regWeak) && input.val().match(regMedium) && input.val().match(regStrong)) {
                    no = 3;
                }
                if (no == 1) {
                    weak.addClass('active');
                    text.css('display', 'block');
                    text.html("Mật khẩu của bạn yếu");
                    text.addClass('weak');
                }
                if (no == 2) {
                    medium.addClass('active');
                    text.html("Mật khẩu của bạn trung bình");
                    text.addClass('medium');
                }
                else {
                    medium.removeClass('active');
                    text.removeClass('medium');
                }
                if (no == 3) {
                    medium.addClass('active');
                    strong.addClass('active');
                    text.html("Mật khẩu của bạn mạnh");
                    text.addClass('strong');
                }
                else {
                    strong.removeClass('active');
                    text.removeClass('strong');
                }
            }
            else {
                indicator.css('display', 'none');
                text.css('display', 'none');
            }
        };
    </script>
}