@model ResetPasswordRequest
@{
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}


<!-- Begin page -->

<div class="container-login100">

    <div class="wrap-login100 p-l-55 p-r-55 p-t-65 p-b-54">
        @if (!ViewData.ModelState.IsValid)
        {
            <div id="ErrorLogin" class="alert alert-danger" role="alert">
                <strong>@ViewData.ModelState[String.Empty].Errors[0].ErrorMessage</strong>
            </div>
        }
        <a href="/" class="logo logo-admin">
            <img src="~/assets/img/favicon.png" height="60" alt="logo">
        </a>
        <span class="login100-form-title p-b-49">
            NHẬP MẬT KHẨU MỚI CHO TÀI KHOẢN
        </span>
        <form class="login100-form validate-form" action="/Account/ResetPassword" method="post">
            <input asp-for="Id" type="text" class="form-control" hidden>
            <input asp-for="UserOrEmail" type="text" class="form-control" hidden>
            <input asp-for="Code" type="text" class="form-control" hidden>
            <div class="wrap-input100 validate-input m-b-23" data-validate="Hãy điền mật khẩu">
                <span class="label-input100 font-weight-bold"></span>
                <input id="password" class="input100" type="password" asp-for="PasswordNew" placeholder="Nhập mật khẩu...">
                <span class="focus-input100" data-symbol="&#xf190;"></span>
            </div>

            <div class="wrap-input100 validate-input" data-validate="Hãy điền mật khẩu xác nhận">
                <span class="label-input100 font-weight-bold"></span>
                <input id="confirm_password" class="input100" type="password" asp-for="PasswordConfirm" placeholder="Nhập lại mật khẩu...">
                <span class="focus-input100" data-symbol="&#xf190;"></span>
            </div>

            <div class="container-login100-form-btn mt-5">
                <div class="wrap-login100-form-btn">
                    <div class="login100-form-bgbtn"></div>
                    <button type="submit" class="login100-form-btn">
                        Xác nhận
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>
@section scripts{
    <script type="text/javascript">
        $('#confirm_password').on('keyup', function () {

            if ($('#password').val() == "" || $('#confirm_password').val() == "") {
                $('#password').css('color', 'black');
                $('#confirm_password').css('color', 'black');
            }

            if ($('#password').val() == $('#confirm_password').val()) {
                $('#password').css('color', 'green');
                $('#confirm_password').css('color', 'green');
            } else {
                $('#confirm_password').css('color', 'red');
            }
        });
    </script>
}
