
@{
    ViewData["Title"] = "SendMailSuccess";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}

<div class="container-login100">

    <div style="width:790px;" class="wrap-login100 p-l-55 p-r-55 p-t-65 p-b-54">
        <form action="" method="post" class="login100-form validate-form">

            <a href="index.html" class="logo logo-admin">
                <img style="MARGIN: 0 17rem; margin-bottom: 1.5rem" src="~/assets/img/favicon.png" height="100" alt="logo">
            </a>
            <span style="font-size:60px;" class="login100-form-title p-b-49">
                Vui Lòng Vào Hòm Thư Mail Để Xác Nhận Tài Khoản!
            </span>
            

        </form>
    </div>
</div>

