
@{
    ViewData["Title"] = "SendMailSuccess";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}

<div class="container-login100">

    <div style="width:790px;" class="wrap-login100 p-l-55 p-r-55 p-t-65 p-b-54">
        <form action="" method="post" class="login100-form validate-form">

            <div class="logo logo-admin">
                <img style="MARGIN: 0 17rem; margin-bottom: 1.5rem" src="~/assets/img/favicon.png" height="70" alt="logo">
            </div>
            <h2 style="text-decoration-style: wavy; text-align: center;font-style:normal; color: brown; align-content: center; border-radius: 3px; padding-left: 20px">
                Vui Lòng Vào Hòm Thư Mail Để Xác Nhận Tài Khoản!
            </h2>
        </form>
    </div>
</div>

