
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0" />
    <title>PageNotFound</title>
    <meta charset="utf-8">
    <link rel="shortcut icon" href="~/assets/img/favicon.png">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,500;0,600;0,700;1,400&amp;display=swap">
    <link rel="stylesheet" href="~/assets/plugins/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/assets/plugins/fontawesome/css/fontawesome.min.css">
    <link rel="stylesheet" href="~/assets/plugins/fontawesome/css/all.min.css">
    <link rel="stylesheet" href="~/assets/css/style.css">

</head>
<body class="error-page">
    <div class="main-wrapper">
        <div class="error-box">
            <h1>404</h1>
            <h3 class="h3 mb-3"><i class="fas fa-exclamation-triangle"></i> Oops! Không tìm thấy trang!</h3>
            <p class="h4 font-weight-normal">Trang bạn yêu cầu không tồn tại</p>
            <a href="~/" class="btn btn-primary">Quay lại trang chủ</a>
        </div>
    </div>


    <script src="/Login/vendor/jquery/jquery-3.2.1.min.js"></script>
    <script src="/Login/vendor/bootstrap/js/bootstrap.min.js"></script>
</body>
</html>
