@{
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}
<!-- Begin page -->
<div class="container-login100">
    <div class="wrap-login100 p-l-55 p-r-55 p-t-65 p-b-54">
        <div class="ex-page-content text-center">
            <span class="login100-form-title p-b-49">Thành Công!</span>
            <h3 class="">Đổi mật khẩu thành công</h3>
            <br>
            <a class="btn btn-info mb-4 waves-effect waves-light" href="/StudentApp/Account/Login"><i class="mdi mdi-home"></i> Trở lại trang đăng nhập</a>
        </div>
    </div>
</div>
@await Component.InvokeAsync("NToastNotify")
