
<form asp-action="CreateProfile" asp-controller="Intervention" method="post">
    <input hidden name="AssesetmentId" value="190a0735-a5df-41b5-bdc1-694f158d2322">
    <div class="form-group row">
        <label class="col-form-label col-md-2">Ngày</label>
        <div class="col-md-10">
            <input type="date" name="ProfileDate" class="form-control" />
        </div>
    </div>

    <div id="input-nhe" class="form-group row">
        <label class="col-form-label col-md-2">Giai Đoạn Nhẹ</label>
        <div class="col-md-10">
            <input type="text" id="nhe" name="ProfileMildDesciption" value="--Chọn--" class="form-control dropdown-toggle" data-toggle="dropdown" />
            @await Component.InvokeAsync("DropDown", new { name = "mild" })
        </div>
    </div>
    <div id="input-vua" class="form-group row">
        <label class="col-form-label col-md-2">Giai Đoạn Vừa</label>
        <div class="col-md-10">
            <input type="text" id="trungbinh" name="ProfileModerateDesciption" value="--Chọn--" class="form-control dropdown-toggle" data-toggle="dropdown" />
            @await Component.InvokeAsync("DropDown", new { name = "moderate" })
        </div>
    </div>
    <div id="input-kn" class="form-group row">
        <label class="col-form-label col-md-2">Giai Đoạn Khắc Nghiệt</label>
        <div class="col-md-10">
            <input type="text" id="khacnghiet" name="ProfileExtremeDesciption" value="--Chọn--" class="form-control dropdown-toggle" data-toggle="dropdown" />
            @await Component.InvokeAsync("DropDown", new { name = "extreme" })
        </div>
    </div>
    <div class="form-group row">
        <label class="col-form-label col-md-2">Giai Đoạn Phục Hồi</label>
        <div class="col-md-10">
            <input type="text" id="tbphuchoi" name="ProfileRecoveryDesciption" value="--Chọn--" class="form-control dropdown-toggle" data-toggle="dropdown" />
            @await Component.InvokeAsync("DropDown", new { name = "recovery" })
        </div>
    </div>
    <div class="col">
        <div class="col-sm-3 mx-auto text-center">
            <button type="submit" id="" class="btn btn-success btn-sm btn-block">Lưu và Tiếp Tục</button>
            <button type="submit" class="btn btn-success btn-sm btn-block">Lưu và Thoát</button>
        </div>
    </div>
</form>


